/*page style_medium.css taille maximum 1655px*/
img{
	width: 150px;
	height: 150px;
}
#image{
	width: 200px;
	height: 250px;
}
@media all and (max-width: 1580px){
	#chat{
		width: 250px;
	}
	#pseudo{
		width: 150px;
	}
	#message{
		width: 150px;
	}
}
@media all and (max-width: 1540px){
	#chat{
		padding: 0px;
	}
}
@media all and (max-width: 1500px){
	#image{
		width: 150px;
		height: 200px;
	}
	img{
		margin: 0px;
	}
}
@media all and (max-width: 1450px){
	#chat{
		width: 300px;
		padding: 20px;
	}
	#image{
		display: none;
	}
	#chat_submit{
		margin-left: 10%;
	}
}
@media all and (max-width: 1400px){
	#chat{
		width: 220px;
		padding: 1px;
	}
}
